__init__.py
__pycache__
.env
.coverage 

# Ignorar contenido de resultados pero mantener la carpeta
logs/*.json
logs/*.txt
!logs/.gitkeep

# Ignorar contenido de resultados en cualquier subcarpeta pero mantener carpetas
resultados/**/json/*
resultados/**/txt/*

# Asegurar que los .gitkeep se mantengan
!resultados/**/json/.gitkeep
!resultados/**/txt/.gitkeep

# El archivo suelto al final
resultados/clasificacion.json